      <tr>
        <td><%=link_to company.name, company_path(company) %></td>
        <td><%=company.stock_symbol %></td>
        <td class="market_cap"><%=number_to_human(company.market_cap).tr('illion', '')%></td>
      </tr>

