<table>
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%=company.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>